* body {
  margin: 0 auto;
  /*background-color: rgb(49, 99, 178)*/
  background-color: rgb(38,38,38)
}

.whitespace {
  height: 100px;
}

.morewhitespace {
  height: 25px;
}

.info-wrapper {
  width: 100%;
}

/* NAV BAR ---------------- */
nav {
  width: auto;
  height: 90px;
  background-color: rgb(57,57,57)
}

main {
  width: 90%;
  margin: 0 auto;
}

#nav-links {
  float: right;
  text-align: center;
  margin: 0 60px 0 0;
}

#nav-links li {
  display: inline-block;
  color: rgb(255,255,255);
  letter-spacing: 0.8rem;
  line-height: 3.0rem;
  background-color: rgb(1,102,179);
  margin-top: 15px;
  height: 60px;
  width: 140px;
  border-radius: 2px;
}

#cneos-link {
  margin: 0 30px 0 0 ;
}

#nav-links a {
  color: rgb(204,204,204);
  text-decoration: none;
}

#logo-container {
  display: inline-block;
  margin-left: 5%;
}

#space-dust-logo {
  height: 80px;
  margin-top: 8px;
}

#site-title-container {
  text-align: left;
  margin:20px auto 0;
}

#space-dust-title {
  display: inline-block;
  font-size: 3.0rem;
  color: rgb(1,102,179);
  letter-spacing: 0.55rem;
  margin: 0 auto;
}

/* ASTRO PIC ---------------- */

.astro-pic-home {
  text-align: center;
}

.astro-pic-of-the-day {
  background-color: rgb(204, 204, 204);
  margin: 0 auto;
}

#astro-pic-img {
  width: 100%;
}

#astro-pic-title {
  text-align: center;
  font-size: 1.5rem;
}

#astro-pic-deets {
  margin: 0 auto;
  height: auto;
  padding: 5px 20px 20px;
  text-align: justify;
  display: none;
}

#astro-pic-deets:hover {
  display: block;
}

h6 {
  color: rgb(204, 204, 204);
  letter-spacing: 0.2rem;
}

/* USER INPUT FORM ---------------- */

.user-date-input {
  text-align: center;
  margin: 0 auto;
}

#event_total {
  display: none;
}

.day-of-week-container {
  display: none;
}

.day-of-week {
  text-align: center;
  margin: 0 auto;
}

#submit-button, #pic-submit-button, select {
  background-color: rgb(1,102,179);
  border: 1px solid rgb(1,102,179);
  color: rgb(255,255,255);
}

#clear-button {
  background-color: rgb(204, 204, 204);
  color: rgb(0,0,0);
  border: rgb(204, 204, 204);
}

.startDate, #day-of-the-week-selector, .newPicDate {
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
}

#month-day-year, #pic-month-day-year {
  display: inline-block;
  margin-top: 10px;
}

label {
  color: rgb(204, 204, 204);
  font-size: 2.2rem;
  letter-spacing: 0.45rem;
}

option {
  color: rgb(255,255,255);
}



/* TABLE ---------------- */

.astro-table-container {
  display: none;
}

#astro-data {
  float: right;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  margin: 0 auto;
  padding: 8px;
  font-size: 1.4rem;
  background-color: rgb(204, 204, 204)

}

#astro-data-main-head {
  text-align: left;
}

th, td {
  line-height: 1.0;
}

td {
  text-align: center;
}

.death {
  color: #CC0308;
  font-weight: 600;
}

/* ANIMATION ---------------- */

#flying-bus {
  postiion: absolute;
  margin-left: -300px;
  margin-right: -300px;
  top: 875px;
  height: 175px;
}

#astro-bus-animate {
  height: 175px;
  position: relative;
}
