* body {
  margin: 0 auto;
  /*background-color: rgb(49, 99, 178)*/
  background-color: rgb(38,38,38)
}

.whitespace {
  height: 50px;
}
main {
  width: 90%;
  margin: 0 auto;
}

nav {
  width: auto;
  height: 90px;
  background-color: rgb(57,57,57)
}

#nav-links {
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

#nav-links li {
  display: inline-block;
  color: rgb(255,255,255);
  letter-spacing: 0.8rem;
  line-height: 3.0rem;
  background-color: rgb(1,102,179);
  margin-top: 25px;
  height: 30px;
  width: 120px;
  border-radius: 2px;
}

#earth-link {
  float: left;
  margin-left: 40px;
}

#cneos-link {
  float: right;
  margin-right: 40px;
}

#nav-links a {
  color: rgb(255,255,255);
  text-decoration: none;
}

#logo-container {
  display: inline-block;
}

#space-dust-logo {
  height: 80px;

  margin-top: 5px;
}

#site-title-container {
  text-align: left;
  margin:35px auto 0;
}

#space-dust-title {
  display: inline-block;
  font-size: 3.0rem;
  color: rgb(1,102,179);
  letter-spacing: 0.55rem;
  margin: 0 auto;
}

/* astro pic */

.astro-pic-of-the-day {
  background-color: rgb(204, 204, 204);
  margin: 0 auto;
}

#astro-pic-img {
  width: 100%;
}

#astro-pic-title {
  text-align: center;
  font-size: 1.5rem;
}

#astro-pic-deets {
  margin: 0 auto;
  height: auto;
  padding: 5px 20px 20px;
  text-align: justify;
  display: none;
}

#astro-pic-deets:hover {
  display: block;
}

/* form styling */

.user-date-input {
  text-align: center;
  margin: 0 auto;
}

#event_total {
  display: none;
}

.day-of-week-container {
  display: none;
}

.day-of-week {
  text-align: center;
  margin: 0 auto;
}

#submit-button, #day-select {
  background-color: rgb(1,102,179)

}

label {
  color: #FFF;
}

option {
  color: white;
}

/* table styling */

.astro-table-container {
  display: none;
}

#astro-data {
  float: right;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  margin: 0 auto;
  padding: 8px;
  font-size: 1.4rem;
  background-color: rgb(204, 204, 204)

}

#astro-data-main-head {
  text-align: left;
}


th, td {
  line-height: 1.0;
}

td {
  text-align: center;
}
